<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav navigation" id="side-menu">
          <!--
            <li class="sidebar-search">
              <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" style="position: relative; top: -8px;" type="button">foo</button>
                  </span>
              </div>
            </li>
          -->
            <li>
              <a href="#"><i class="icn-md icon-timer"></i><span>Main</span></a>
            </li>
            <li>
              <a href="#/login"><i class="icn-md icon-list-with-images"></i><span>Login</span></a>
            </li>
        </ul>
    </div>
</div>
