<div class="form-signin-container" role="form">
  <div class="form-signin">
    <div class="icon"></div>
    <h2 class="heading">Summer</h2>
    <form>
      <input class="form-control username" placeholder="username" required />
      <input class="form-control username" placeholder="Password" required />
      <button class="btn btn-primary btn-block">Ingresar</button>
    </form>
  </div>
  <div class="sponsored">Created <span class="octicon octicon-heart"></span> by <a href="#">Atento</a></div>
</div>
