<div class="row" snap-content snap-options="snapOpts">
  <div class="col-md-4 well"></div>
  <div class="col-md-8 well">

      <div class="panel-flat-chat">
        <div class="chat-area">
          <section class="conversations">
            <div class="from-me">
              <p>Hey there! What's up?</p>
            </div>
            <div class="clear"></div>
            <div class="from-them">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="clear"></div>
            <div class="from-me">
              <p>consectetuer adipiscing elit</p>
            </div>
            <div class="clear"></div>
            <div class="from-them">
              <p>What's up?</p>
            </div>
            <div class="clear"></div>
            <div class="from-me">
              <p>Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="clear"></div>
            <div class="from-them">
              <p>Aenean massa.</p>
            </div>
          </section>
          <div class="addtext">
            <textarea class="form-control" rows="2"></textarea>
            <div class="atachment"><button class="btn btn-default"><span class="glyphicon glyphicon-paperclip"></span></button></div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <button class="btn-block btn-send"><span class="glyphicon glyphicon-send"></span></button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="main">
  <div class="col-md-12">
    <tabset class="tabs-flat">
      <tab heading="Luis Alberto" class="heading">
        <div class="col-md-4 panel-flat-profile">
          <div class="integrations-list">
            <header>
              <h3>Luis Alberto</h3>
              <div class="avatar-full" style="background-image: url('https://d2zpvlo04mfrdq.cloudfront.net/avatars/5338c1509edd00f75500008b-TV0tXCNQUC.jpg') !important;"></div>
              <!--<div class="name">Luis Alberto</div>-->
              <div class="help-block">(55) 56943616</div>
              <button class="btn-red sp-navigate new-integration glyphicon glyphicon-time" snap-toggle="left"></button>
            </header>
            <div class="content-profile">
              <tabset class="tabs">
                <tab heading="Caso" class="heading">
                  <ul class="unstyled integrations">
                    <li class="">
                      <!--
                      <a class="delete btn pull-right">#1 caso</a>
                      <i class="service-icon-large google-analytics"></i>
                    -->
                  </li>
                  <li class="">
                    <!--
                    <a class="delete btn pull-right">#1 caso</a>
                    <i class="service-icon-large google-analytics"></i>-->
                  </li>
                  <!--
                  <li class="add-box-flat">
                  <a class="delete btn pull-right">#12 caso</a>
                  <i class="service-icon-large google-analytics"></i>
                </li>
              -->
            </ul>
          </tab>
          <tab heading="Detalles">
            <ul class="unstyled integrations">
              <li class="add-box">
                <!--
                <a class="delete btn pull-right">accion</a>
                <i class="service-icon-large google-analytics"></i>
              -->
            </li>
          </ul>
        </tab>
        <tab heading="Detalles">
          <ul class="unstyled integrations">
          </ul>
        </tab>
      </tabset>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="panel-flat-chat">
    <div class="chat-area">
      <section class="conversations">
        <div class="from-me">
          <p>Hey there! What's up?</p>
        </div>
        <div class="clear"></div>
        <div class="from-them">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
        <div class="clear"></div>
        <div class="from-me">
          <p>consectetuer adipiscing elit</p>
        </div>
        <div class="clear"></div>
        <div class="from-them">
          <p>What's up?</p>
        </div>
        <div class="clear"></div>
        <div class="from-me">
          <p>Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
        <div class="clear"></div>
        <div class="from-them">
          <p>Aenean massa.</p>
        </div>
      </section>
      <div class="addtext">
        <textarea class="form-control" rows="2"></textarea>
        <div class="atachment"><button class="btn btn-default"><span class="glyphicon glyphicon-paperclip"></span></button></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <button class="btn-block btn-send"><span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
</tab>
</tabset>
</div>
</div>
