<div class="main">


  <div class="col-md-12">
    <div ng-controller="TabsDemoCtrl">
      <tabset class="tabs">

        <tab heading="John Doe"><!--//tab-->
          <div class="col-md-4">
            <div class="panel">
              <div class="integrations-list">
                <header>
                    <h3>Foo lol</h3>
                    <div class="avatar-full" style="background-image: url('https://d2zpvlo04mfrdq.cloudfront.net/avatars/5338c1509edd00f75500008b-TV0tXCNQUC.jpg') !important;"></div>
                    <div class="name">John Doe</div>
                    <div class="help-block">(55) 56943616</div>
                    <button class="btn new-integration btn-primary sp-navigate glyphicon glyphicon-time" snap-toggle="left"></button>
                </header>
                <tabset class="tabs">
                  <tab heading="Caso">
                    <ul class="unstyled integrations">
                        <li class="add-box">
                          <a class="delete btn pull-right">accion</a>
                          <i class="service-icon-large google-analytics"></i>
                        </li>
                    </ul>
                  </tab>
                  <tab heading="Detalle">
                    <ul class="unstyled integrations">
                        <li class="add-box">
                          <a class="delete btn pull-right">accion</a>
                          <i class="service-icon-large google-analytics"></i>
                        </li>
                    </ul>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="panel">
              <div class="chat-area">
                <ul class="timeline">
                    <li>
                      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">Mussum ipsum<small><i class="glyphicon glyphicon-time"></i> Ricibido 11 hours ago via Whatsup</small></h5>
                        </div>
                        <div class="timeline-body">
                          <p>Mussum ipsum cacilds,</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">Mussum ipsum<small><i class="glyphicon glyphicon-time"></i> Ricibido 11 hours ago via Whatsup</small></h5>
                        </div>
                        <div class="timeline-body">
                          <p>Mussum ipsum cacilds, vidis litro abertis.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">Mussum ipsum<small> <i class="glyphicon glyphicon-time"></i> Ricibido 11 hours ago via Whatsup</small></h5>
                        </div>
                        <div class="timeline-body">
                          <p>Mussum ipsum cacilds.</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h5 class="timeline-title">Mussum ipsum<small><i class="glyphicon glyphicon-time"></i> Ricibido 11 hours ago via Whatsup</small></h5>
                        </div>
                        <div class="timeline-body">
                          <p>Madmuacel - Mussum ipsum cacilds, vidis litro abertis.</p>
                        </div>
                      </div>
                    </li>
                </ul>
                <div class="addtext">
                  <textarea class="form-control" rows="2"></textarea>
                  <div class="atachment"><button class="btn btn-default"><span class="glyphicon glyphicon-paperclip"></span></button></div>
                </div>
                <div class="row well-sm">
                  <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-block btn-primary"><span class="glyphicon glyphicon-send"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Foo Person">
            <div class="col-md-4">
              <div class="panel">
                <div class="integrations-list">
                  <header>
                      <div class="avatar-full" style="background-image: url('http://cdn.ipetitions.com/rev/2857/assets/v3/img/default-avatar.png') !important;"></div>
                      <div class="name">Foo Person</div>
                      <div class="help-block">(55) 56943616</div>
                      <button class="btn new-integration btn-primary sp-navigate glyphicon glyphicon-time" snap-toggle="left"></button>
                  </header>
                  <tabset class="tabs">
                    <tab heading="Caso">
                      <ul class="unstyled integrations">
                          <li class="add-box">
                            <a class="delete btn pull-right">accion</a>
                            <i class="service-icon-large google-analytics"></i>
                          </li>
                      </ul>
                    </tab>
                    <tab heading="Detalle">
                      <ul class="unstyled integrations">
                          <li class="add-box">
                            <a class="delete btn pull-right">accion</a>
                            <i class="service-icon-large google-analytics"></i>
                          </li>
                      </ul>
                    </tab>
                  </tabset>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="panel">
                <div class="chat-area">
                  <ul class="timeline">
                      <li>
                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h5 class="timeline-title">Mussum ipsum<small><i class="glyphicon glyphicon-time"></i> Ricibido 11 hours ago via Whatsup</small></h5>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds,</p>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h5 class="timeline-title">Mussum ipsum<small><i class="glyphicon glyphicon-time"></i> Ricibido 11 hours ago via Whatsup</small></h5>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis.</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h5 class="timeline-title">Mussum ipsum<small> <i class="glyphicon glyphicon-time"></i> Ricibido 11 hours ago via Whatsup</small></h5>
                          </div>
                          <div class="timeline-body">
                            <p>Mussum ipsum cacilds.</p>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h5 class="timeline-title">Mussum ipsum<small><i class="glyphicon glyphicon-time"></i> Ricibido 11 hours ago via Whatsup</small></h5>
                          </div>
                          <div class="timeline-body">
                            <p>Madmuacel - Mussum ipsum cacilds, vidis litro abertis.</p>
                          </div>
                        </div>
                      </li>
                  </ul>
                  <div class="addtext">
                    <textarea class="form-control" rows="2"></textarea>
                    <div class="atachment"><button class="btn btn-default"><span class="glyphicon glyphicon-paperclip"></span></button></div>
                  </div>
                  <div class="row well-sm">
                    <div class="col-md-4 col-md-offset-4">
                      <button class="btn btn-block btn-primary"><span class="glyphicon glyphicon-send"></span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </tab>
      </tabset>
    </div>
  </div>

</div>
